</div>

<script language="javascript" src="/static/bower_components/jquery-form/jquery.form.js"></script>
<script language="javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script language="javascript" src="/static/bower_components/jqgrid/js/minified/jquery.jqGrid.min.js"></script>
<script language="javascript" src="/static/bower_components/jqgrid/js/i18n/grid.locale-cn.js"></script>
<script language="javascript" src="/static/bower_components/datatables/media/js/jquery.dataTables.js"></script>
<!--<script language="javascript"-->
<!--src="/static/bower_components/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>-->
<script language="javascript" src="/static/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script language="javascript" src="/static/bower_components/jquery-validation/src/localization/messages_zh.js"></script>
<script language="javascript" src="/static/bower_components/jquery-ui/ui/jquery-ui.js"></script>
<script language="javascript" src="/static/bower_components/bootbox/bootbox.js"></script>
<script language="javascript" src="/static/js/jQuery-Timepicker-Addon/dist/jquery-ui-timepicker-addon.js"></script>
<script language="JavaScript" src="/static/js/main.js"></script>
</body>

</html>
